<div class="flowchart" style="background-image: url('public/plugins/grafana-processline-panel/img/1.png');
height: 700px;
background-repeat: no-repeat;
background-size: 100% 100%;"
     mouse-capture
     ng-keydown="ctrl.keyDown($event)"
     ng-keyup="ctrl.keyUp($event)"
><style>

</style>
    <div style="margin-left: 1210px;margin-top: -10px;">
        <a ng-click=" ctrl.sharePanelDefalut()" id="myBtn" style="text-align-last: right;color: #ffc03c">more</a>
    </div>



    <!-- The Modal -->








 <div ng-repeat="nodes in ctrl.panel.chartDataModel.nodes" ng-draggable='dragOptions' chart='nodes'
      style="position: absolute;width: {{nodes.width}};top: {{nodes.y}}px;left: {{nodes.x}}px;">
    <process-line chart="nodes" color="ctrl.panel.bgcolor"></process-line>

 </div>

</div>
