<div class="flowchart" style="background-image:url('public/plugins/grafana-processline-panel/img/plant.png');height: 700px; background-repeat: no-repeat;background-size: 60% 60%;
background-position-x: 230px;
background-position-y: 100px;"
     mouse-capture
     ng-keydown="ctrl.keyDown($event)"
     ng-keyup="ctrl.keyUp($event)"
><style>
.modal-class {
    display: none;
    width: 500px;
    height: 400px;
}
.modal-content-show {
    background-color: #484444;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height:400px
}

.close {
    color: red;
    margin-top: -20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
    <div style="margin-left: 1210px;margin-top: -10px;">
        <a ng-click=" ctrl.sharePanelDefalut()" id="myBtn" style="text-align-last: right;color: #ffc03c">more</a>
    </div>



    <!-- The Modal -->








    <div ng-repeat="nodes in ctrl.panel.chartDataModel.nodes" ng-draggable='dragOptions' chart='nodes'
         style="position: absolute;width: {{nodes.width}};top: {{nodes.y}}px;left: {{nodes.x}}px;">
        <process-line chart="nodes" color="ctrl.panel.bgcolor"></process-line>

    </div>

</div>